{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %} 
<div class="container">

    <p>
    Ancienne élève de l’ENS Paris-Saclay, je suis désormais doctorante en sociologie. 
    Je suis rattachée au CRESPPA-CSU et à l’INED. 
    </p>

    <p>
    Mes pages personnelles sur les sites de ces deux labos : <a href="https://www.cresppa.cnrs.fr/csu/equipe/les-membres-du-csu/descamps-julia/"> ici </a>  et  <a href="https://www.ined.fr/fr/recherche/chercheurs/Descamps+Julia "> là </a>. 
    </p>

    <p>
    Vous pouvez me joindre à l’adresse : <a href="maitlo:julia.descamps@ined.fr">julia.descamps@ined.fr</a>
    </p>
</div>
{% endblock %}
