{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %} 
<div class="container">

    <p> Cet outil n’aurait pas vu le jour sans celles et ceux qui ont créé les conditions intellectuelles et techniques nécessaires à sa réalisation.
    </p>
    
    <p> 
    Dorian, fondateur des bases de ma réconciliation avec Python, et Laurent, Gandalf du développement web et du dé-bug, méritent tout à fait que ce projet porte leurs initiales. </p>

    <p> 
    Gaëtan, agile avec la langue française comme avec celle de la programmation, a baptisé ce projet et a fait preuve d’une patience math.inf(inie) pour m’apprendre à coder des fonctions. </p>

    <p> 
    Merci à Mathis d’avoir prouvé qu’il est (encore et toujours) la caution artistique de mes lubies, en concevant un beau logo. 
    </p>


    <p> 
    Enfin, merci à Rébecca, Emilie, et les membres du bureau virtuel 3080 de l’INED, pour leurs encouragements face à la futilité de l’inutile. 
    </p>
</div>
{% endblock %}
